{% extends "@layouts/base.twig" %}
{% block title %}About Us{% endblock %}
{% block page_heading %}About Us{% endblock %}
{% block page_subheading %}We're telling you who we are{% endblock %}
{% block content %}
<section class="container mx-auto px-4 py-12">
  <p class="text-gray-700 leading-relaxed">
    We build modern front-end experiences using clean UI systems.
  </p>
</section>
{% endblock %}
