@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables";
@import "components";

@font-face {
  font-family: "Graphik Regular";
  src: url("/fonts/graphik/Graphik-Regular-Web.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


html, body {
  font-family: theme("fontFamily.sans");
}

.container {
  max-width: 1200px;
}
